 



<div data-role="page">
	<div data-role="header"><h1>Listing artists</h1></div>
	
	<div data-role="content">
		<ul data-role="listview" data-theme="d">
			<% @artists.each do |artist| %>
		  		<li>
		  			<%= link_to h(artist.name), artist_songs_url(artist) %>
				</li>
			<% end %>
		</ul>
	</div>
	
		
		<div data-role="footer" class="ui-bar">
			<div data-role="navbar" class="ui-bar" data-grid="d">
			</div><div data-role="controlgroup" data-type="horizontal" data-theme="d">
		<div class="listbottombutton">
		<a href="/" data-role="button" class="home" >Home</a>
		<a href="<%= new_artist_path %>" data-role="button" class="newartist" >New Artist</a> 
		</div>
		</div>
</div>
		
		
		<!-- <%= link_to 'New artist', new_artist_path %> -->  
	
	
</div>