<div data-role="page">
	<div data-role="header">
		<h1><%=h @artist.name %></h1>
	</div>
	
	<div data-role="content">
		<%=h @artist.name %>
	</div>
	
	<div data-role="footer">
		<div data-role="footer" class="ui-bar">
			<div data-role="navbar" class="ui-bar" data-grid="d">
			</div>
		<div data-role="controlgroup" data-type="horizontal" data-theme="d">
		<div class="artistbottombutton">
		<a href="/" data-role="button" class="home" >Home</a>
		<a href="/artists/<%= @artist.id %>/songs/new" data-role="button" class="newartist" >Add Song</a> 
		<a href="/artists" data-role="button" class="backbutton" >Back</a> 
		</div>
	</div>	
</div>